<h1><%= @campaign.campaign_name %> </h1>
<div class= "container center">
Scheduled on <i><%= @campaign.scheduled_date %></i> with following rules: <br />
<%= @campaign.rules %> <br />
The offers being given are: <i>Yet to be implemented</i> <br />
</div>
